.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stop {
  background-color: red;
}
.slow {
  background-color: yellow;
}
.go {
  background-color: green;
}
.semafor {
  display: grid;
  place-content: center;
  gap: 5px;
}
.light:not(.on) {
  background: grey;
}
